html {
  /*
  This is a repository for common style parameters. Use these whenever you can, so that we can make global adjustments at just this point.
  Use as var(--b78x-x-y-z) to replace any value in conventional notation.
  */
  /* Color Styling */
  /* Keep boeing colors in sync with BoeingColors.ts */
  --boeing-colors-black: black;
  --boeing-colors-black-translucent: rgba(0, 0, 0, 0.2);
  --boeing-colors-black-translucent-border: rgba(0, 0, 0, 0.5);
  --boeing-colors-white: white;
  --boeing-colors-gray: hsl(0, 0%, 70%);
  --boeing-colors-dark-gray: hsl(0, 0%, 60%);
  --boeing-colors-darker-gray: hsl(0, 0%, 40%);
  --boeing-colors-blue: hsl(230, 100%, 51%);
  --boeing-colors-cyan: hsl(192, 100%, 50%);
  --boeing-colors-red: red;
  --boeing-colors-amber: hsl(45, 100%, 50%);
  --boeing-colors-green: #49e700;
  --boeing-colors-dark-green: #007500;
  --boeing-colors-magenta: #ff00ff;

  /* Keep B787 colors in sync with B787Colors.ts */
  --b78x-colors-separator-gray: #777;

  --boeing-pane-height: 1425px;
  --boeing-pane-width-full: 1920px;
  --boeing-pane-width-half: 954px;
}

@font-face {
  font-family: "B787";
  src: url("/Pages/VCockpit/Instruments/Airliners/WTB787_10/Assets/fonts/b78x.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#Electricity[state="off"] {
  display: none;
}

/** HINT: Don't show the white highlight since the instruments is in general not interactive */
#vignettage {
  display: none;
  visibility: hidden;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 99999999;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.fullsize {
  width: 100%;
  height: 100%;
}
.afds-status {
  min-width: 210px;
  height: 52px;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  color: var(--boeing-colors-hud-normal);
  border: 4px solid transparent;
}

.afds-status-active {
  display: inline-block;
  padding: 2px 0 0 0;
  white-space: nowrap;
}

.afds-status-alert {
  border-color: var(--boeing-colors-hud-normal);
}

.afds-status-arrow {
  position: relative;
  top: -3px;
  width: 24px;
  height: auto;
  margin: 0px 1px;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  stroke-linejoin: round;
  fill: none;
  display: inline-block;
}
.hud-airspeed-container {
  position: relative;
  width: 110px;
  height: 636px;
  border: solid 4px var(--boeing-colors-hud-normal);
  border-left: none;
}

.airspeed-box {
  position: absolute;
  left: 0px;
  top: -4px;
  width: 110px;
  height: 636px;
}

.airspeed-box .shadow {
  display: none;
}

.airspeed {
  width: 100%;
}

.airspeed-mask {
  left: 0px;
  width: 195px;
}

.airspeed-tape {
  width: 100%;
}

.airspeed-tape-tick-container {
  left: 0px;
  width: 110px;
}

.airspeed-tape-tick {
  box-sizing: content-box;
  right: 0px;
  width: 24px;
  height: 4px;
  background: var(--boeing-colors-hud-normal);
  border-radius: 6px;
}

.airspeed-tape-label-container {
  left: 0px;
  width: 70px;
  font-size: 36px;
  color: var(--boeing-colors-hud-normal);
}

.airspeed-tape-label {
  height: 32px;
}

.airspeed-range-container {
  left: 106px;
  width: 14px;
}

.airspeed-range {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.airspeed-range-container-max .airspeed-range {
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(to top, var(--boeing-colors-hud-normal) 2px, #000000 2px, #000000 11px, var(--boeing-colors-hud-normal) 11px, var(--boeing-colors-hud-normal) 15px, #000000 15px, #000000 24px, var(--boeing-colors-hud-normal) 24px);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 26px;
}

.airspeed-range-container-max .airspeed-range.shadow {
  display: block;
  left: 4px;
  width: calc(100% - 4px);
  height: calc(100% + 2px);
  background: linear-gradient(to top, var(--boeing-colors-hud-normal) 15px, #000000 15px, #000000 24px, var(--boeing-colors-hud-normal) 24px);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 26px;
  border-bottom: solid 2px var(--boeing-colors-hud-normal);
}

.airspeed-range-container.airspeed-range-container-min-maneuver {
  width: 10px;
}

.airspeed-range-container-min-maneuver .airspeed-range {
  border: solid 4px var(--boeing-colors-hud-normal);
  border-left: none;
  border-bottom: none;
}

.airspeed-range-container-min .airspeed-range {
  left: 4px;
  width: calc(100% - 8px);
  background: linear-gradient(to bottom, var(--boeing-colors-hud-normal) 2px, #000000 2px, #000000 11px, var(--boeing-colors-hud-normal) 11px, var(--boeing-colors-hud-normal) 15px, #000000 15px, #000000 24px, var(--boeing-colors-hud-normal) 24px);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 26px;
}

.airspeed-range-container-min .airspeed-range.shadow {
  display: block;
  left: 4px;
  top: -2px;
  width: calc(100% - 4px);
  height: calc(100% + 2px);
  background: linear-gradient(to bottom, var(--boeing-colors-hud-normal) 15px, #000000 15px, #000000 24px, var(--boeing-colors-hud-normal) 24px);
  /* Zipper repeating unit is 5 knots rounded to the nearest even pixel. */
  background-size: 100% 26px;
  border-top: solid 2px var(--boeing-colors-hud-normal);
}

.airspeed-trend-vector {
  left: 73px;
  width: 20px;
}

.airspeed-trend-vector-svg {
  fill: none;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  stroke-linejoin: round;
}

.airspeed-trend-vector-stroke {
  vector-effect: non-scaling-stroke;
}

.airspeed-trend-vector-stem {
  left: 0px;
  width: 100%;
  height: calc(100% - 14px);
}

.airspeed-trend-vector-pointer {
  left: 3px;
  width: 14px;
  height: 14px;
}

.airspeed-bug-selected {
  left: 86px;
}

.airspeed-bug-selected-symbol {
  position: absolute;
  left: 0px;
  top: -14px;
  width: 56px;
  height: 28px;
}

.airspeed-bug-selected-stroke {
  stroke-width: 4px;
  stroke: var(--boeing-colors-hud-normal);
  stroke-linejoin: round;
  fill: none;
}

.airspeed-vnav-speed-band {
  left: 106px;
  width: 14px;
}

.airspeed-vnav-speed-band-stroke {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: solid 4px var(--boeing-colors-hud-normal);
  border-left: none;
}

.airspeed-bug-ticklabel {
  left: 98px;
  width: 42px;
  font-size: 27px;
  color: var(--boeing-colors-hud-normal);
}

.airspeed-bug-ticklabel-tick {
  box-sizing: content-box;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16px;
  height: 4px;
  background: var(--boeing-colors-hud-normal);
  border-radius: 6px;
  transform: translateY(-50%);
}

.airspeed-bug-ticklabel-label {
  position: absolute;
  left: 17px;
  top: 0px;
  height: 21px;
  transform: translateY(-50%) scaleX(0.9);
  transform-origin: 0% 50%;
  white-space: pre;
}

.airspeed-bug-vspeed-large .airspeed-bug-ticklabel-tick {
  left: -15px;
  width: 32px;
}

.airspeed-vspeed-readout {
  position: absolute;
  left: 115px;
  font-size: 27px;
  color: var(--boeing-colors-hud-normal);
  transform: scaleX(0.9);
  transform-origin: 0% 50%;
}

.airspeed-v1-readout {
  top: 41px;
}

.airspeed-vref-readout {
  top: 598px;
}

.airspeed-readout {
  position: absolute;
  right: 26px;
  top: 50%;
  width: 96px;
  height: 90px;
  transform: translateY(-50%);
  color: var(--boeing-colors-hud-normal);
  font-size: 48px;

  --digit-scroller-line-height: 60px;
  --digit-scroller-line-offset-y: 7px;
}

.airspeed-readout-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  paint-order: normal;
}

.airspeed-readout-box-border {
  fill: #000000;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  vector-effect: non-scaling-stroke;
}

.warning .airspeed-readout-box-border {
  animation: hud-altimeter-flasher 0.4s 0.1s infinite step-end;
}

.airspeed-digit-scroller {
  position: absolute;
  top: 4px;
  width: 24px;
  height: 82px;
}

.airspeed-hundreds-scroller {
  left: 4px;
}

.airspeed-tens-scroller {
  left: 28px;
}

.airspeed-ones-scroller {
  left: 52px;
  --digit-scroller-line-height: 40px;
}

@keyframes hud-airspeed-flasher {
  50% {
    stroke-opacity: 0;
  }
}
.hud-airspeed-readout {
  width: 66px;
  height: 41px;
  background: #000000;
  border: solid 4px var(--boeing-colors-hud-normal);
  font-size: 38px;
  color: var(--boeing-colors-hud-normal);
  text-align: right;
}
.hud-airspeed-select-container {
  position: relative;
  width: 80px;
  height: 46px;
  background: #000000;
}

.airspeed-select-value {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 46px;
  color: var(--boeing-colors-hud-normal);
  text-align: right;
}
.hud-gs-mach-readout-container {
  position: relative;
}

.gs-mach-readout {
  box-sizing: content-box;
  height: 38px;
  background: #000000;
  color: var(--boeing-colors-hud-normal);
  border: solid 4px transparent;
}

.gs-mach-readout.gs-mach-readout-alert {
  border-color: var(--boeing-colors-hud-normal);
}

.gs-mach-readout-prefix {
  margin-right: 6px;
  font-size: 38px;
}

.gs-mach-readout-value {
  display: inline-block;
  min-width: 72px;
  font-size: 46px;
  text-align: right;
}
.hud-altimeter-container {
  position: relative;
  width: 110px;
  height: 636px;
  border: solid 4px var(--boeing-colors-hud-normal);
  border-right: none;
}

.altimeter-box {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 110px;
  height: 636px;
}

.altimeter-box .shadow {
  display: none;
}

.altimeter {
  width: 100%;
}

.altitude-mask {
  left: -24px;
  top: -4px;
  width: 134px;
  height: 644px;
}

.altimeter-tape {
  width: 100%;
}

.altimeter-tape-tick-container {
  left: 24px;
}

.altimeter-tape-tick {
  left: 0px;
  width: 24px;
  height: 4px;
  background: var(--boeing-colors-hud-normal);
  border-radius: 6px;
}

.altimeter-tape-tick.altimeter-tape-tick-500 {
  height: 8px;
  background: var(--boeing-colors-hud-bright);
}

.altimeter-tape-tick.altimeter-tape-tick-1000 {
  left: -6px;
  width: 30px;
  background: var(--boeing-colors-hud-bright);
}

.altimeter-tape-label-container {
  right: 0px;
  color: var(--boeing-colors-hud-normal);
}

.altimeter-tape-label-numbers {
  position: relative;
  top: -1px;
  height: 30px;
  font-size: 36px;
}

.altimeter-tape-label-bar {
  box-sizing: content-box;
  display: none;
  right: 0px;
  width: 86px;
  height: 4px;
  background: var(--boeing-colors-hud-normal);
  border-radius: 6px;
}

.altimeter-tape-label-bar-top {
  top: -7px;
}

.altimeter-tape-label-bar-bottom {
  bottom: -7px;
}

.altimeter-tape-label-big {
  margin-right: 3px;
  font-size: 36px;
}

.altimeter-tape-label-small {
  font-size: 27px;
}

.altimeter-tape-label-1000 .altimeter-tape-label-bar {
  display: block;
}

.altimeter-ground-ribbon {
  left: 24px;
}

.altimeter-ground-ribbon-stem {
  left: -6px;
  width: 10px;
  border: solid 4px var(--boeing-colors-hud-normal);
}

.altimeter-ground-ribbon-stem-upper {
  border-bottom: none;
}

.altimeter-ground-ribbon-stem-lower {
  border-top: none;
  border-color: var(--boeing-colors-hud-bright);
  background: var(--boeing-colors-hud-bright);
}

.altimeter-ground-ribbon-ground-line {
  left: -6px;
  width: 116px;
  height: 4px;
  background: var(--boeing-colors-hud-bright);
}

.altimeter-ground-ribbon-stripes {
  left: 4px;
  width: 106px;
  height: 42px;
  fill: none;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  stroke-linecap: butt;
}

.altimeter-preselect-bug {
  position: absolute;
  left: 20px;
  width: 52px;
  height: 82px;
  fill: none;
  stroke-linejoin: round;
}

.altimeter-preselect-bug-stroke {
  stroke-width: 4px;
  stroke: var(--boeing-colors-hud-normal);
  vector-effect: non-scaling-stroke;
}

.altimeter-baro-mins-bug {
  position: absolute;
  left: 6px;
  width: 130px;
  height: 50px;
  fill: none;
  stroke-width: 4px;
  color: var(--boeing-colors-hud-normal);
}

.altimeter-baro-mins-bug-stroke {
  vector-effect: non-scaling-stroke;
}

.altimeter-baro-mins-bug.flash {
  animation: hud-altimeter-flasher 0.4s 0.1s infinite step-end;
}

.altimeter-trend-vector {
  left: 39px;
  width: 20px;
}

.altimeter-trend-vector-svg {
  fill: none;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  stroke-linejoin: round;
}

.altimeter-trend-vector-stroke {
  vector-effect: non-scaling-stroke;
}

.altimeter-trend-vector-stem {
  left: 0px;
  width: 100%;
  height: calc(100% - 14px);
}

.altimeter-trend-vector-pointer {
  left: 3px;
  width: 14px;
  height: 14px;
}

.altimeter-readout {
  position: absolute;
  top: 50%;
  left: 24px;
  width: 133px;
  height: 82px;
  transform: translateY(-50%);
  color: var(--boeing-colors-hud-normal);

  --digit-scroller-line-height: 56px;
  --digit-scroller-line-offset-y: 7px;
}

.altimeter-readout-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  paint-order: normal;
}

.altimeter-readout-box-border {
  fill: #000000;
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  vector-effect: non-scaling-stroke;
}

.warning .altimeter-readout-box-border {
  animation: hud-altimeter-flasher 0.4s 0.1s infinite step-end;
}

.alt-digit-scroller {
  position: absolute;
  top: 4px;
  height: 74px;
  width: 25px;
}

.alt-ten-thousands-scroller {
  left: 20px;
  font-size: 48px;
}

.alt-thousands-scroller {
  left: 45px;
  font-size: 48px;
}

.alt-hundreds-scroller {
  left: 73px;
  font-size: 36px;

  --digit-scroller-line-offset-y: 6px;
}

.alt-digit-scroller.alt-tens-scroller {
  left: 91px;
  width: 40px;
  font-size: 36px;

  --digit-scroller-line-height: 32px;
  --digit-scroller-line-offset-y: 6px;
}

.metric-altitude-box {
  position: absolute;
  right: -49px;
  bottom: 358px;
  width: 121px;
  height: 38px;
  padding-right: 4px;
  background: #000000;
  border: 4px solid var(--boeing-colors-hud-normal);
  text-align: right;
  color: var(--boeing-colors-hud-normal);
}

.metric-altitude-value-container .value {
  font-size: 36px;
}

.metric-altitude-value-container .unit {
  font-size: 30px;
}

@keyframes hud-altimeter-flasher {
  50% {
    stroke-opacity: 0;
  }
}

.altimeter-ldg-alt-flag {
  display: none;
}
.alt-baro {
  display: grid;
  grid-template-rows: 44px 32px;
  grid-template-columns: 1fr;
  grid-row-gap: 12px;

  font-size: var(--alt-baro-font-size-small);
  color: var(--boeing-colors-hud-normal);
  white-space: nowrap;

  --alt-baro-font-size-small: 28px;
  --alt-baro-font-size-medium: 38px;
  --alt-baro-font-size-large: 46px;
}

.alt-baro-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.alt-baro-source,
.alt-baro-uplink {
  width: 20px;
}

.alt-baro-setting {
  margin-left: 24px;
  width: 152px;
}

.alt-baro-setting-inner {
  width: min-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.alt-baro-value-wrapper {
  width: 96px;
  text-align: right;
}

.alt-baro-value {
  display: inline-block;
}

.alt-baro-unit {
  margin-left: 6px;
}

.alt-baro-reference {
  margin-left: 16px;
}

/* This pseudo-child is here to make sure the baseline of the top row does not change as we change font sizes. */
.alt-baro-top::before {
  content: " ";
  font-size: var(--alt-baro-font-size-large);
  white-space: pre;
  width: 0px;
}

.alt-baro-top .alt-baro-value-wrapper,
.alt-baro-top .alt-baro-reference {
  font-size: var(--alt-baro-font-size-medium);
}

.alt-baro-std .alt-baro-top .alt-baro-value-wrapper {
  font-size: var(--alt-baro-font-size-large);
}

/* Explicitly set the height of these divs so that boxed outline is aligned properly when shown. */
.alt-baro-top .alt-baro-value-wrapper,
.alt-baro-top .alt-baro-value,
.alt-baro-top .alt-baro-unit,
.alt-baro-top .alt-baro-reference {
  height: 0.85em;
}

.alt-baro-alert:not(.alt-baro-std) .alt-baro-top .alt-baro-setting-inner {
  outline: solid 4px var(--boeing-colors-hud-normal);
  outline-offset: 2px;
}

.alt-baro-alert.alt-baro-std .alt-baro-top .alt-baro-value {
  outline: solid 4px var(--boeing-colors-hud-normal);
  outline-offset: 2px;
}

.alt-baro-qfe-alert .alt-baro-top .alt-baro-reference {
  outline: solid 4px var(--boeing-colors-hud-normal);
  outline-offset: 2px;
}
.alt-preselect-container {
  position: relative;
  width: 116px;
  height: 78px;
}

.alt-preselect-box {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 46px;
  background: #000000;
  color: var(--boeing-colors-hud-normal);
  text-align: right;
}

.alt-preselect-box.metric {
  top: 0px;
  height: 32px;
  padding-right: 4px;
}

.alt-preselect-value {
  width: 100%;
  height: 100%;
  border: solid 4px transparent;
}

.alt-preselect-value.approaching-alert-border {
  border-color: var(--boeing-colors-hud-normal);
}

.alt-preselect-thousands {
  margin-right: 5px;
  font-size: 46px;
}

.alt-preselect-hundreds {
  font-size: 34px;
}

.alt-preselect-unit {
  font-size: 26px;
}
.hud-approach-reference-container {
  color: var(--boeing-colors-hud-normal);
  font-size: 28px;
}

.approach-reference {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.approach-reference-disagree {
  position: relative;
}

.approach-reference-disagree::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 35%;
  width: 100%;
  height: 4px;
  background: var(--boeing-colors-hud-normal);
  transform: translateY(-50%);
}
.hud-compass {
  --hud-compass-reference-label-color: var(--boeing-colors-hud-normal);
  --hud-compass-hdg-label-color: var(--boeing-colors-hud-normal);
  --hud-compass-hdg-tick-color: var(--boeing-colors-hud-normal);
  --hud-compass-outside-tick-color: var(--boeing-colors-hud-normal);
  --hud-compass-hdg-pointer-color: var(--boeing-colors-hud-normal);
  --hud-compass-airplane-color: var(--boeing-colors-hud-normal);
  --hud-compass-sel-bug-color: var(--boeing-colors-hud-normal);
}

.hud-compass-hdg-label {
  font-size: 24px;
}

.hud-compass-reference-label {
  position: absolute;
  left: 260px;
  top: 182px;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.hud-compass-sel-bug-nonconformal {
  stroke-dasharray: 6 2;
}
.deviation-box {
  position: relative;
  width: 300px;
  height: 50px;

  --deviation-scale-ls-dot-radius: 8px;
  --deviation-scale-ls-reduced-dot-width: 8px;
  --deviation-scale-ls-reduced-dot-height: 12px;

  --deviation-pointer-stroke-width: 4px;
  --deviation-pointer-np-color: var(--boeing-colors-hud-bright);
  --deviation-pointer-ian-color: var(--boeing-colors-hud-bright);
  --deviation-pointer-ls-color: var(--boeing-colors-hud-bright);
}

.deviation-box .translatable {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.deviation-box .shadow {
  display: none;
}

.deviation-background-fmc,
.deviation-background-ls {
  display: none;
}

.deviation-scale-container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}

.deviation-scale-container-np {
  height: 100%;
}

.deviation-scale-container-ls {
  height: 65%;
}

.deviation-scale {
  stroke-width: 4px;
  stroke: var(--boeing-colors-hud-normal);
  fill: none;
  stroke-linecap: round;
}

.deviation-anp-bar {
  top: 7px;
  height: 13px;
  background: var(--boeing-colors-hud-normal);
  border: solid 4px var(--boeing-colors-hud-normal);
}

.deviation-anp-bar-end {
  top: 7px;
  width: 4px;
  height: 13px;
  background: var(--boeing-colors-hud-normal);
}

.alert .deviation-anp-bar {
  background: none;
}

.deviation-scale-container-np.flash {
  animation: hud-deviation-alert-flash 0.4s 0.1s infinite step-end;
}

.deviation-pointer path {
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.deviation-pointer-ian,
.deviation-pointer-np {
  position: absolute;
  left: 50%;
  top: 14px;
  height: 25px;
  transform: translateX(-50%);
}

.deviation-pointer-ls {
  position: absolute;
  left: 50%;
  top: 16px;
  width: 34px;
  height: 18px;
  transform: translate(-50%, -50%);
}

.flash .deviation-pointer {
  animation: hud-deviation-alert-flash 0.4s 0.1s infinite step-end;
}

@keyframes hud-deviation-alert-flash {
  50% {
    opacity: 0;
  }
}
.hud-lateral-deviation-container {
  position: relative;
  width: 300px;
  height: 50px;
}

.hud-lateral-deviation-offset {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.hud-lateral-deviation-occlude {
  background: #000000;
}

.hud-lateral-deviation-container .deviation-box {
  position: absolute;
  left: 0px;
  top: 6px;
}
.hud-vertical-deviation-container {
  position: relative;
  width: 300px;
  height: 50px;
}

.hud-vertical-deviation-occlude {
  background: #000000;
}

.hud-vertical-deviation-container .deviation-box {
  position: absolute;
  left: 0px;
  top: 6px;
}
.hud-hdg-readout {
  color: var(--boeing-colors-hud-normal);
  font-size: 26px;
}

.hud-hdg-readout-prefix {
  margin-right: 4px;
}
.fma {
  display: grid;
  grid-template-columns: 180px 4px 180px 4px 180px;
  grid-template-rows: 42px 22px;
  grid-template-areas:
    "at-active splitter-l lat-active splitter-r vert-active"
    "empty splitter-l lat-armed splitter-r vert-armed";
  justify-items: stretch;
  align-items: stretch;

  color: var(--boeing-colors-hud-normal);
  white-space: nowrap;
  letter-spacing: -1px;
}

.fma-splitter {
  stroke: var(--boeing-colors-hud-normal);
  stroke-width: 4px;
  stroke-linecap: round;
}

.fma-splitter-left {
  grid-area: splitter-l;
}

.fma-splitter-right {
  grid-area: splitter-r;
}

.fma-splitter-line-shadow {
  display: none;
}

.fma-active {
  position: relative;
  margin: 0px 1px;
  font-size: 38px;
  text-align: center;
  border: 4px solid transparent;
}

.fma-autothrottle-active {
  grid-area: at-active;
}

.fma-lateral-active {
  grid-area: lat-active;
}

.fma-vertical-active {
  grid-area: vert-active;
}

.fma-armed {
  font-size: 28px;
  text-align: center;
}

.fma-autothrottle-armed {
  grid-area: at-armed;
}

.fma-lateral-armed {
  grid-area: lat-armed;
}

.fma-vertical-armed {
  grid-area: vert-armed;
}

.fma-mode-alert {
  border-color: var(--boeing-colors-hud-normal);
}

.fma-mode-failed::after {
  content: '';
  border-bottom: 4px solid var(--boeing-colors-hud-normal);
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.hud-ground-decel-scale {
  position: relative;

  --hud-ground-decel-scale-color: var(--boeing-colors-hud-normal);
}

.hud-ground-decel-scale-tick {
  position: absolute;
  left: 0px;
  top: -10px;
  width: 10px;
  height: 20px;
  stroke-width: 4px;
}

.hud-ground-decel-scale-tick-label {
  position: absolute;
  left: 14px;
  top: -11px;
  font-size: 28px;
}
.hud-fpv-airspeed-readout {
  position: absolute;
  left: -268px;
  top: 65px;
  font-size: 38px;

  --hud-fpv-airspeed-readout-color: var(--boeing-colors-hud-normal);
}

.hud-fpv-airspeed-readout-data {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 33px;
  background: #000000;
}

.hud-fpv-airspeed-readout-failure-flag {
  box-sizing: content-box;
  position: absolute;
  left: 0px;
  top: -4px;
  height: 32px;
  padding: 0px 2px;
  background: #000000;
  border: solid 4px var(--hud-fpv-airspeed-readout-color);
  white-space: pre;
}
.hud-fpv-altitude-readout {
  position: absolute;
  right: calc(100% - 268px);
  top: 37px;

  --hud-fpv-altitude-readout-color: var(--boeing-colors-hud-normal);
}

.hud-fpv-altitude-readout-data {
  position: absolute;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-rows: 28px 33px;
  grid-template-columns: 105px 22px;
  justify-items: stretch;
}

.hud-fpv-altitude-readout-hide-metric .hud-fpv-altitude-readout-metric {
  visibility: hidden;
}

.hud-fpv-altitude-readout-cell {
  background: #000000;
}

.hud-fpv-altitude-readout-feet {
  font-size: 38px;
}

.hud-fpv-altitude-readout-metric {
  font-size: 30px;
}

.hud-fpv-altitude-readout-value {
  justify-self: end;
  width: 105px;
  text-align: right;
  padding-right: 8px;
}

.hud-fpv-altitude-readout-value.hud-fpv-altitude-readout-metric {
  width: 85px;
}

.hud-fpv-altitude-readout-failure-flag {
  box-sizing: content-box;
  position: absolute;
  right: 0px;
  top: 22px;
  height: 32px;
  padding: 0px 2px;
  background: #000000;
  border: solid 4px var(--hud-fpv-altitude-readout-color);
  font-size: 38px;
  white-space: pre;
}
.hud-fpv-vs-readout {
  position: absolute;
  right: calc(100% - 285px);
  top: 154px;

  --hud-fpv-vs-readout-color: var(--boeing-colors-hud-normal);
}

.hud-fpv-vs-readout-data {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 33px;
  background: #000000;
  font-size: 38px;
}

.hud-fpv-vs-readout-value {
  margin-right: 8px;
}

.hud-fpv-vs-readout-failure-flag {
  box-sizing: content-box;
  position: absolute;
  right: 0px;
  top: -6px;
  height: 32px;
  padding: 0px 2px;
  background: #000000;
  border: solid 4px var(--hud-fpv-vs-readout-color);
  font-size: 38px;
  white-space: pre;
}
.hud-runway-symbol-line {
  height: 4px;

  --hud-runway-symbol-color: var(--boeing-colors-hud-normal);
}
.hud-horizon-display {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1600px;
  height: 1280px;
}
.hud-airplane-symbol {
  width: 170px;
  height: 26px;

  --hud-airplane-symbol-stroke: var(--boeing-colors-hud-normal);
}
.hud-aoa-limit {
  width: 216px;
  height: 25px;

  --hud-aoa-limit-color: var(--boeing-colors-hud-normal);
}
.hud-bank-indicator {
  --hud-bank-indicator-color: var(--boeing-colors-hud-normal);
}

.hud-pitch-ladder-marker {
  --hud-pitch-ladder-marker-color: var(--boeing-colors-hud-normal);
}

.hud-pitch-ladder-marker-symbol {
  width: 320px;
  height: 15px;
  margin: 0px 5px;
}

.hud-pitch-ladder-marker-label {
  position: relative;
  font-size: 24px;
}

.hud-pitch-ladder-marker-positive .hud-pitch-ladder-marker-label {
  top: -3px;
}

.hud-pitch-ladder-marker-negative .hud-pitch-ladder-marker-label {
  top: 10px;
}

.hud-pitch-ladder-chevron {
  width: 340px;
  height: 400px;

  --hud-pitch-ladder-chevron-color: var(--boeing-colors-hud-normal);
}

.hud-pitch-ladder-zenith,
.hud-pitch-ladder-nadir {
  width: 48px;
  height: 128px;

  --hud-pitch-ladder-zenith-nadir-color: var(--boeing-colors-hud-normal);
}

.hud-attitude-ball {
  --hud-attitude-ball-color: var(--boeing-colors-hud-normal);
}

.hud-attitude-ball-horizon-line {
  --hud-attitude-ball-horizon-line-color: var(--boeing-colors-hud-normal);
}
.hud-fd-cue {
  width: 30px;
  height: 30px;

  --hud-fd-cue-color: var(--boeing-colors-hud-normal);
}
.hud-fpv {
  width: 176px;
  height: 54px;

  --hud-fpv-color: var(--boeing-colors-hud-normal);
  --hud-fpv-accel-color: var(--boeing-colors-hud-normal);
  --hud-fpv-speed-error-color: var(--boeing-colors-hud-normal);
}

.hud-fpv-speed-error-container {
  left: 16px;
  width: 16px;
}

.hud-fpv-accel {
  width: 38px;
  height: 32px;
}

.hud-fpv-accel .hud-accel-stroke {
  stroke-width: 4;
}

.hud-fpv-accel .hud-accel-occlude {
  stroke-width: 8;
}
.hud-gs-reference-container {
  --hud-gs-reference-color: var(--boeing-colors-hud-normal);
}

.hud-gs-reference-line {
  height: 4px;
  margin: 0px 6px;
}

.hud-gs-reference-label {
  position: relative;
  top: 4px;
  font-size: 24px;
}
.hud-ground-accel-container {
  --hud-ground-accel-color: var(--boeing-colors-hud-normal);
}

.hud-ground-accel {
  width: 38px;
  height: 32px;
}

.hud-ground-accel .hud-accel-stroke {
  stroke-width: 4;
}

.hud-ground-accel .hud-accel-occlude {
  stroke-width: 8;
}
.hud-ground-roll {
  width: 170px;
  height: 42px;

  --hud-ground-roll-color: var(--boeing-colors-hud-normal);
  --hud-ground-roll-arrow-color: var(--boeing-colors-hud-normal);
  --hud-ground-roll-accel-color: var(--boeing-colors-hud-normal);
}

.hud-ground-roll-accel {
  width: 38px;
  height: 32px;
}

.hud-ground-roll-accel .hud-accel-stroke {
  stroke-width: 4px;
}

.hud-ground-roll-accel .hud-accel-occlude {
  stroke-width: 8px;
}

.hud-ground-roll-fd-cue {
  width: 26px;
  height: 26px;

  --hud-ground-roll-fd-cue-color: var(--boeing-colors-hud-normal);
}

.hud-ground-roll-arrow {
  width: 21px;
  height: 42px;
  stroke-width: 4px;
  animation: hud-altimeter-flasher 0.4s 0.1s infinite step-end;
}

.hud-ground-roll-arrow-right {
  right: 231px;
}

.hud-ground-roll-arrow-left {
  left: 231px;
}

@keyframes hud-ground-roll-flasher {
  50% {
    opacity: 0;
  }
}
.hud-radio-alt {
  position: absolute;
  box-sizing: content-box;
  left: 0px;
  top: 120px;
  min-width: 60px;
  height: 24px;
  padding: 4px;
  background: #000000;
  font-size: 30px;
  text-align: center;

  --hud-radio-alt-color: var(--boeing-colors-hud-normal);
}

.hud-radio-alt.hud-radio-alt-alert {
  outline: solid 4px var(--boeing-colors-hud-normal);
  outline-offset: -2px;
}

.hud-radio-alt.hud-radio-alt-alert-flash {
  animation: hud-radio-alert-flash 0.4s 0.1s infinite step-end;
}

@keyframes hud-radio-alert-flash {
  50% {
    outline-color: transparent;
  }
}
.hud-tcas-ra-pitch {
  --hud-tcas-ra-pitch-color: var(--boeing-colors-hud-normal);
}

.hud-tcas-ra-pitch-flyto {
  width: 288px;
  outline: solid 4px var(--hud-tcas-ra-pitch-color);
  outline-offset: 4px;
}

.hud-tcas-ra-pitch-flyto::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: solid 4px var(--hud-tcas-ra-pitch-color);
  outline-offset: -4px;
}

.hud-tcas-ra-pitch-nofly-alert .hud-tcas-ra-pitch-nofly-main {
  animation: hud-tcas-ra-pitch-flash 0.4s 0.1s infinite step-end;
}

@keyframes hud-tcas-ra-pitch-flash {
  50% {
    opacity: 0;
  }
}
.hud-toga-reference {
  height: 4px;

  --hud-toga-reference-color: var(--boeing-colors-hud-normal);
}
.minimums-indicator {
  color: var(--boeing-colors-hud-normal);
}

.minimums-indicator-text {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.minimums-indicator-text-label {
  height: 26px;
  font-size: 28px;
}

.minimums-indicator-text-value {
  font-size: 38px;
}

.minimums-indicator-flash {
  animation: hud-minimums-indicator-alert-flash 0.4s 0.1s infinite step-end;
}

@keyframes hud-minimums-indicator-alert-flash {
  50% {
    opacity: 0;
  }
}
.hud-navigation-source-container {
  color: var(--boeing-colors-hud-normal);
}

.navigation-source {
  font-size: 38px;
}

.navigation-source.navigation-source-small {
  font-size: 30px;
}
.hud-sel-hdg-trk {
  font-size: 38px;
  color: var(--boeing-colors-hud-normal);
}
.hud-vs-readout {
  height: 34px;
  background: #000000;
  color: var(--boeing-colors-hud-normal);
  font-size: 38px;
}

.hud-vs-readout-value {
  margin-right: 8px;
}
.hud-wind {
  position: relative;
  width: 65px;
  height: 95px;
  font-size: 26px;
  --hud-wind-color: var(--boeing-colors-hud-normal);
}

.hud-wind-arrow {
  position: absolute;
  left: 24px;
  top: 0px;
  width: 16px;
  height: 65px;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.hud-wind-value {
  position: absolute;
  right: 14px;
  top: 70px;
  text-align: right;
}
.hud-container {
  width: 100%;
  height: 100%;
  font-family: "B787";
}

.hud-container .fma {
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
}

.hud-container .afds-status {
  position: absolute;
  left: 50%;
  top: 66px;
  transform: translateX(-50%);
}

.hud-container .hud-hdg-readout {
  position: absolute;
  left: 50%;
  top: 188px;
  transform: translateX(-50%) scaleX(0.9);
}

.hud-container .hud-airspeed-container {
  position: absolute;
  left: 143px;
  top: 618px;
  transform: translateY(-50%);
}

.hud-container .hud-airspeed-select-container {
  position: absolute;
  right: 1343px;
  bottom: 982px;
}

.hud-container .hud-as-label {
  position: absolute;
  right: 1347px;
  bottom: 1030px;
  height: 40px;
  font-size: 46px;
  background: #000000;
  color: var(--boeing-colors-hud-normal);
}

.hud-container .hud-gs-mach-readout-container {
  position: absolute;
  right: 1294px;
  top: 960px;
}

.hud-container .hud-airspeed-readout {
  position: absolute;
  left: 533px;
  top: 502px;
}

.hud-container .hud-altimeter-container {
  position: absolute;
  left: 1348px;
  top: 618px;
  transform: translateY(-50%);
}

.hud-container .hud-alt-baro-container {
  position: absolute;
  left: 1210px;
  top: 970px;
}

.hud-container .hud-alt-preselect-container {
  position: absolute;
  right: 176px;
  bottom: 982px;
}

.hud-container .hud-alt-label {
  position: absolute;
  left: 1306px;
  bottom: 1061px;
  height: 42px;
  font-size: 46px;
  background: #000000;
  color: var(--boeing-colors-hud-normal);
}

.hud-container .hud-vs-readout {
  position: absolute;
  right: 409px;
  top: 752px;
}

.hud-container .hud-lateral-deviation-container {
  position: absolute;
  left: 50%;
  top: 868px;
  transform: translateX(-50%);
}

.hud-container .hud-vertical-deviation-container {
  position: absolute;
  left: 1266px;
  top: 618px;
  transform: translateX(-50%) rotate(-90deg);
  transform-origin: top center;
}

.hud-container .hud-navigation-source-container {
  position: absolute;
  left: 346px;
  top: 300px;
}

.hud-container .hud-approach-reference-container {
  position: absolute;
  left: 346px;
  top: 230px;
}

.hud-container .hud-compass {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
}

.hud-container .hud-sel-hdg-trk {
  position: absolute;
  left: 380px;
  bottom: 88px;
}

.hud-container .minimums-indicator {
  position: absolute;
  right: 355px;
  top: 885px;
}

.hud-container .hud-wind {
  position: absolute;
  left: 410px;
  top: 74px;
}

.hud-container .hud-ground-decel-scale {
  position: absolute;
  left: 704px;
  top: 448px;
}

.hud-container .hud-no-vspd-flag-container {
  position: absolute;
  left: 270px;
  top: 426px;
  transform: scaleX(0.95);
}

.hud-container .no-vspd-flag {
  padding: 6px 2px 0px;
  background: #000000;
  font-size: 38px;
  line-height: 29px;
  color: var(--boeing-colors-hud-normal);
  text-align: center;
}

.hud-failure-flag {
  box-sizing: content-box;
  position: absolute;
  height: 32px;
  padding: 0px 2px;
  background: #000000;
  font-size: 38px;
  color: var(--boeing-colors-hud-normal);
  white-space: pre;
}

.hud-failure-flag-boxed {
  border: solid 4px var(--boeing-colors-hud-normal);
}

.hud-failure-flag.hud-failure-flag-vert {
  padding: 0px 4px;
  padding-top: 0.1em;
  line-height: 0.9em;
}

.hud-aoa-spd-flag {
  right: 1298px;
  top: 1016px;
}

.hud-isfd-spd-flag {
  right: 1298px;
  top: 1016px;
}

.hud-gps-alt-flag {
  left: 1253px;
  top: 1016px;
}

.hud-isfd-alt-flag {
  left: 1253px;
  top: 1016px;
}

.hud-failure-flag.hud-spd-flag {
  left: 198px;
  top: 618px;
  height: 96px;
  transform: translate(-50%, -50%);
}

.hud-spd-readout-flag {
  left: 533px;
  top: 502px;
}

.hud-failure-flag.hud-alt-flag {
  left: 1403px;
  top: 618px;
  height: 96px;
  transform: translate(-50%, -50%);
}

.hud-vert-flag {
  right: 409px;
  top: 747px;
}

.hud-att-flag {
  left: 50%;
  top: 340px;
  transform: translateX(-50%);
}

.hud-fpv-flag {
  left: 500px;
  top: 380px;
  transform: translateX(-50%);
}

.hud-fd-flag {
  left: 1100px;
  top: 320px;
  transform: translateX(-50%);
}

.hud-gs-flag {
  left: 183px;
  top: 970px;
}

.hud-hdg-flag {
  left: 50%;
  top: 995px;
  transform: translateX(-50%);
}
html {
  --boeing-colors-hud-normal: #00c000;
  --boeing-colors-hud-bright: #00ff00;
}

.hud-container {
  position: absolute;
  left: 0px;
  top: 0px;
}