:root {
  --b78x-efb-button-background: #777777;
  --b78x-efb-button-border-dark: #555555;
  --b78x-efb-button-border-light: #aaaaaa;
}

.boeing-efb-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 62px;
  height: 60px;
  background-color: var(--b78x-efb-button-background);
  outline: 3px solid black;
  margin-bottom: 57px;
  font-size: 21px;
  padding-left: 2px;
  padding-bottom: 9px;
  padding-right: 2px;
}

.boeing-efb-button:active,
.boeing-efb-button-selected {
  background-color: var(--boeing-colors-dark-green);

  border-top: 3px solid var(--b78x-efb-button-border-dark);
  border-right: 3px solid var(--b78x-efb-button-border-light);
  border-bottom: 3px solid var(--b78x-efb-button-border-light);
  border-left: 3px solid var(--b78x-efb-button-border-dark);
}

.boeing-efb-button:hover {
  outline-color: var(--boeing-colors-magenta);
}

.boeing-efb-button-alerted {
  color: var(--boeing-colors-amber);
}

.boeing-efb-button-disabled {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-button-disabled:hover {
  outline: none !important;
}

.boeing-efb-button-disabled:active {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-button>span {
  font-size: inherit;
  height: 32px;
  line-height: 40px;
}
:root {
  --b78x-efb-button-background: #777777;
  --b78x-efb-button-border-dark: #555555;
  --b78x-efb-button-border-light: #aaaaaa;
}

.boeing-efb-dropdown-button {
  display: flex;
  flex-direction: column;
  justify-content: left;
  height: 55px;
  background-color: var(--b78x-efb-button-background);
  border: 2px solid black;
  font-size: 22px;
  width: 160px;
  -webkit-text-stroke: .04em var(--boeing-colors-green);
  color: var(--boeing-colors-green);
  padding-top: 8px;
  padding-left: 3px;
  letter-spacing: -1px;
  margin-top: 10px;
}

.boeing-efb-dropdown-button:active,
.boeing-efb-dropdown-button-selected {
  background-color: var(--boeing-colors-dark-green);
  outline-color: var(--boeing-colors-magenta);
  border-top: 3px solid var(--b78x-efb-button-border-dark);
  border-right: 3px solid var(--b78x-efb-button-border-light);
  border-bottom: 3px solid var(--b78x-efb-button-border-light);
  border-left: 3px solid var(--b78x-efb-button-border-dark);
}

.boeing-efb-dropdown-button:hover {
  outline-color: 3px solid var(--boeing-colors-magenta);
}

.boeing-efb-dropdown-button-alerted {
  color: solid var(--boeing-colors-amber);
  outline-color: var(--boeing-colors-magenta);
}

.boeing-efb-dropdown-button-disabled {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
  outline: 3px solid var(--boeing-colors-cyan);
}

.boeing-efb-dropdown-button-disabled {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-dropdown-button-disabled:hover {
  outline: 3px solid var(--boeing-colors-cyan);
}

.boeing-efb-dropdown-button-disabled:active {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-dropdown-button>span {
  font-size: inherit;
  height: 32px;
  line-height: 40px;
}

.boeing-efb-dropdown-arrow {
  margin-left: 140px;
  margin-top: -24px;
}

.dropdown-items {
  z-index: 99999;
  flex-direction: column;
  justify-content: left;
  background-color: var(--b78x-efb-button-background);
  border: 2px solid black;
  font-size: 22px;
  width: 120px;
  -webkit-text-stroke: .04em var(--boeing-colors-green);
  color: var(--boeing-colors-green);
  letter-spacing: -1px;
  margin-top: -62px;
  margin-left: 170px;
  position: fixed;
}

.dropdown-items:hover {
  outline-color: var(--boeing-colors-green);
}

.boeing-efb-dropdown-item {
  color: white;
  margin-top: 0px;
  height: 55px;
  padding-top: 15px;
  -webkit-text-stroke: .04em white;
}

.boeing-efb-dropdown-item:hover {
  outline-color: var(--boeing-colors-magenta);
}

.dropdown-button-name-left {
  position: absolute;
  font-size: 23px;
  margin-left: -70px;
  text-align: right;
  align-content: right;
  margin-top: 10px;
  width: 65px;
}

.dropdown-button-name-right {
  position: absolute;
  font-size: 23px;
  margin-left: 165px;
  text-align: left;
  align-content: left;
  margin-top: 10px;
  width: 65px;
}

.button-name {
  -webkit-text-stroke: 0.04em var(--boeing-colors-white);
}
:root {
  --b78x-efb-button-background: #777777;
  --b78x-efb-button-border-dark: #555555;
  --b78x-efb-button-border-light: #aaaaaa;
}

.boeing-efb-textfield-button {
  display: flex;
  height: 35px;
  background-color: black;
  border: 2px solid white;
  font-size: 22px;
  width: 160px;
  margin-top: 5px;
}

.boeing-efb-top-textfield {
  margin-top: 10px;
}

.boeing-efb-textfield-button:active,
.boeing-efb-textfield-button-selected {
  border: 3px solid var(--boeing-colors-magenta);
  outline-color: 3px solid var(--boeing-colors-magenta);
}

.boeing-efb-textfield-button:hover {
  outline-color: solid var(--boeing-colors-magenta);
}

.boeing-efb-textfield-button-alerted {
  color: var(--boeing-colors-amber);
}

.boeing-efb-textfield-button-disabled {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-textfield-button-disabled {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-textfield-button-disabled:hover {
  outline: none !important;
}

.boeing-efb-textfield-button-disabled:active {
  background-color: var(--b78x-efb-button-border-dark);
  border: none;
  color: var(--b78x-efb-button-background);
}

.boeing-efb-textfield-button>span {
  font-size: inherit;
  height: 32px;
  line-height: 40px;
}

.boeing-efb-textfield-arrow {
  margin-left: 140px;
  margin-top: -24px;
}


.textfield-button-name-left {
  z-index: 99998;
  position: absolute;
  font-size: 23px;
  margin-left: -70px;
  text-align: right;
  align-content: right;
  width: 65px;
}

.textfield-button-name-right {
  z-index: 99998;
  position: absolute;
  font-size: 23px;
  margin-left: 165px;
  text-align: left;
  align-content: left;
  margin-top: 5px;
  width: 65px;
}

.text-under-text-field {
  font-size: 15px;
  text-align: center;
  width: 160px;
  height: 13px;
  padding-top: 2px;
}

.button-name {
  -webkit-text-stroke: 0.04em var(--boeing-colors-white);
}

.boeing-efb-text-field-keyboard-input {
  font-size: 26px;
  width: 100%;
  color: white;
  background-color: black;
  align-content: left;
  justify-content: left;
  text-align: left;
  margin-bottom: 0px;
  border: 0px;
  margin-left: 3px;
}
.efb-title-page {
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 23px;
  top: 15px;
  position: absolute;
  text-align: center;
}

.efb-middle-top-left-title {
  font-size: 23px;
  position: absolute;
  width: 150px;
  text-align: center;
  background-color: black;
  margin-top: -16px;
  margin-left: 2px;
  letter-spacing: -1px;
}

.left-side-dropdowns {
  margin-top: 20px;
  margin-left: 72px;
}

.right-side-dropdowns {
  margin-top: 15px;
  margin-left: 17px;
}

.efb-left-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  padding: 0 10px;
  justify-content: space-between;
  width: 135px;
}

.efb-middle {
  position: absolute;
  width: 505px;
  height: 950px;
  left: 130px;
  top: 50px;
  border: 3px solid var(--boeing-colors-cyan);
}

.efb-middle-top-left-box {
  position: absolute;
  width: 50%;
  height: 470px;
  border-bottom: 3px solid var(--boeing-colors-cyan);
  border-right: 3px solid var(--boeing-colors-cyan);
}

.efb-middle-top-right-box {
  position: absolute;
  width: 51%;
  height: 470px;
  border-bottom: 3px solid var(--boeing-colors-cyan);
  left: 246px;
  bottom: 474px;
}

.efb-middle-1st-middle-box {
  position: absolute;
  width: 100%;
  height: 64px;
  border-bottom: 3px solid var(--boeing-colors-cyan);
  bottom: 414px;
}

.efb-middle-2st-middle-box {
  position: absolute;
  width: 100%;
  border-bottom: 3px solid var(--boeing-colors-cyan);
  bottom: 364px;
  height: 50px;
  padding-left: 394px;
  margin-top: 10px;
}

.efb-middle-3st-middle-box {
  position: absolute;
  width: 100%;
  height: 39%;
  bottom: 0;
}

.efb-right-side {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 80px;
  padding: 0 10px;
  justify-content: space-between;
  width: 142px;
  left: 632px;
  text-align: right;
  padding-left: 7px;
}

.right-side-making-space {
  height: 20px;
}

.left-textfield-middle {
  position: absolute;
  width: 100%;
  height: 64px;

  margin-left: 70px;
}

.right-textfield-middle {
  position: absolute;
  width: 100%;
  height: 64px;
  margin-left: 334px;
}
.efb-main-menu {
  font-family: "B787", sans-serif;
  -webkit-text-stroke: 0 black;
}

.efb-main-menu .efb-title-page {
  font-size: 32px;
  margin-top: 8px;
  -webkit-text-stroke: 1px var(--boeing-colors-black);
}

.efb-main-menu .boeing-efb-button {
  font-size: 32px;
  padding-top: 13px;
  padding-left: 7px;
  padding-right: 7px;
  border: 2px solid transparent;
  -webkit-text-stroke: 1px var(--b78x-efb-button-background);
}

.efb-main-menu .boeing-efb-button.boeing-efb-button-disabled {
  background-color: transparent;
  color: var(--boeing-colors-cyan);
  border-color: var(--boeing-colors-cyan);
  -webkit-text-stroke: 1px var(--boeing-colors-black);
}

.efb-main-menu-button-column {
  width: 290px;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  padding-top: 82px;
  padding-left: 5px;
}

.efb-main-menu-button-column-right {
  left: 455px;
  text-align: right;
}

.efb-main-menu-button-column > *:not(:last-child) {
  margin-bottom: 48px;
}

.efb-main-menu-blank {
  height: 70px;
}
html {
  /*
  This is a repository for common style parameters. Use these whenever you can, so that we can make global adjustments at just this point.
  Use as var(--b78x-x-y-z) to replace any value in conventional notation.
  */
  /* Color Styling */
  /* Keep boeing colors in sync with BoeingColors.ts */
  --boeing-colors-black: black;
  --boeing-colors-black-translucent: rgba(0, 0, 0, 0.2);
  --boeing-colors-black-translucent-border: rgba(0, 0, 0, 0.5);
  --boeing-colors-white: white;
  --boeing-colors-gray: hsl(0, 0%, 70%);
  --boeing-colors-dark-gray: hsl(0, 0%, 60%);
  --boeing-colors-darker-gray: hsl(0, 0%, 40%);
  --boeing-colors-blue: hsl(230, 100%, 51%);
  --boeing-colors-cyan: hsl(192, 100%, 50%);
  --boeing-colors-red: red;
  --boeing-colors-amber: hsl(45, 100%, 50%);
  --boeing-colors-green: #49e700;
  --boeing-colors-dark-green: #007500;
  --boeing-colors-magenta: #ff00ff;

  /* Keep B787 colors in sync with B787Colors.ts */
  --b78x-colors-separator-gray: #777;

  --boeing-pane-height: 1425px;
  --boeing-pane-width-full: 1920px;
  --boeing-pane-width-half: 954px;
}

@font-face {
  font-family: "B787";
  src: url("/Pages/VCockpit/Instruments/Airliners/WTB787_10/Assets/fonts/b78x.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#Electricity[state="off"] {
  display: none;
}

/** HINT: Don't show the white highlight since the instruments is in general not interactive */
#vignettage {
  display: none;
  visibility: hidden;
}

#highlight {
  position: absolute;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 99999999;
}

.hidden {
  display: none !important;
}

.visibility-hidden {
  visibility: hidden !important;
}

.fullsize {
  width: 100%;
  height: 100%;
}
html {
  --boeing-colors-hud-normal: #00c000;
  --boeing-colors-hud-bright: #00ff00;
}

.hud-container {
  position: absolute;
  left: 0px;
  top: 0px;
}